body { background: #4e9b31; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 45px; display: flex; }
.block-router-0 { color: #e12f3e; font-size: 18px; margin-bottom: 5px; }
.block-helper-1 { color: #779a80; font-size: 14px; margin-bottom: 5px; }
.block-notify-2 { color: #248812; font-size: 15px; margin-bottom: 5px; }
.block-database-3 { color: #32b89d; font-size: 19px; margin-bottom: 5px; }
.block-cart-4 { color: #fa588a; font-size: 21px; margin-bottom: 5px; }
.block-order-5 { color: #ad459c; font-size: 17px; margin-bottom: 5px; }
.block-session-6 { color: #fc81d; font-size: 17px; margin-bottom: 5px; }
.block-order-7 { color: #668fbf; font-size: 13px; margin-bottom: 5px; }
.block-product-8 { color: #12818a; font-size: 12px; margin-bottom: 5px; }
.block-helper-9 { color: #f3da8d; font-size: 20px; margin-bottom: 5px; }